<li>
  <a href="https://speakerdeck.com/glennsarti" itemprop="sameAs">
    <i class="fab fa-fw fa-speaker-deck" aria-hidden="true"></i> <span class="lable">Speaker Deck</span>
  </a>
</li>
<li>
  <a href="https://www.twitch.tv/glennsarti" itemprop="sameAs">
    <i class="fab fa-fw fa-twitch" aria-hidden="true"></i> <span class="lable">Twitch</span>
  </a>
</li>
<li>
  <a href="https://http://bsky.app/profile/sarti.dev" itemprop="sameAs">
    <i class="fab fa-fw fa-bluesky" aria-hidden="true"></i> <span class="lable">Bluesky</span>
  </a>
</li>
